menuconfig DRIVER_PIC32_UART
bool "PIC32 UART"
default Y
select DRIVER_UART
help
	Driver for the PIC32 UART and compatible devices.

config DRIVER_PIC32_UART_TX_BUFFER
int "Default Tx buffer size"
default 128
depends on DRIVER_PIC32_UART
help
	Default transmission buffer size. May be overridden by initialisation.

config DRIVER_PIC32_UART_RX_BUFFER
int "Default Rx buffer size"
default 128
depends on DRIVER_PIC32_UART
help
	Default transmission buffer size. May be overridden by initialisation.
